*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button{
    width: 10%;
    height: 50%;
    margin: 0 20px;
    border-radius: 12px;
    font-size: 3.6rem;
}
main{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
}
.main-section{
    width: 40%;
    height: 50%;
    margin: 0 auto 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 12px;
    border: 2px solid black;
}
.main-section__title{
    font-size: 4rem;
}
.main-section__time{
    font-size: 2.8rem;
}
.main-section__buttons-box{
    width: 45%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
}
.main-section__buttons{
    width: 45%;
    font-size: 2rem;
    font-family: inherit;
}
footer{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
}
.footer-message{
    display: inline-block;
    font-size: 1.4rem;
    color: gray;
}